body{
    background-color: rgb(200, 233, 233);
    display: grid;
    place-items: center;
}
.calculadora{
    background-color: blue;
    color: antiquewhite;
    width: 350px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    }
    .pantalla{
        grid-column: 1/5;
    }
    .btn{
        color: red;
    }